@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #b1c6ff;
    --cor1: #25F4F6;
    --cor2: #2044D4;
    --cor3: #000000;

    --fonte-android:'Android', cursive;
}
body{
    background-color: #b1feff;
}

a.externo::after {
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(#25F4F6,#2044D4);
    text-align: center;
    font-size: 10px;
    font-family: var(--fonte-android);
    color: #000000;
    min-height: 150px;
    padding-top: 50px;
}

header > p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
}

nav {
    background-color: #1136c9;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.377);
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 2s;
}
nav > a:hover {
    background-color: #060d2c;
    color: white;
    padding: 5px;
}
main{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 15px #45497c86;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
    color:#000000;
    font-weight: bold;
    background-color: #abe0ffb2;
    padding: 2px 6px;;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #071a66;
    background-color: #abe0ffb2;
}
main a:hover{
    text-decoration: underline;
    color: #071a66;
}
main h2{
    font-family: 'Android';
    color: #071a66;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.video{
    background-color: #060d2c;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 5px;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.288);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside >h3{
    background-color: #1136c9;
    color: white;
    padding: 10px;
    margin: -5px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    margin: 0px;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a {
    color: rgb(53, 8, 255);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #006eff;
}